@tailwind base;

body {
  @apply snap-y snap-proximity overflow-x-clip;
}

.form-input {
  @apply !rounded-lg !px-8 !py-4 !text-base sm:!text-xl;
}

.form-textarea {
  @apply !rounded-lg !p-8 !text-base sm:!text-xl;
}

@tailwind components;

.reset * {
  all: unset;
  box-sizing: border-box;
}

.vignette {
  background-image: radial-gradient(transparent 50%, black);
}

.lighten-edges {
  background-image: linear-gradient(to right, white, transparent 25%, transparent 75%, white);
}

@tailwind utilities;
